<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="center-align">
    {{ title }}
  </h1>

  <div class="row white">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input
            placeholder="Type guess numbers"
            id="guess_numbers"
            type="text"
            class="validate center-align"
            maxlength="4"
            [(ngModel)]="code"
            (change)="onCodeChange($event)"
            name="something"
          >
        </div>
      </div>
    </form>
  </div>

  <app-start-button (onGameStarted)="onGameStarted($event)"></app-start-button>

  <div class="row">
    <div class="col s12 m12">
      <h3 class="center-align" *ngIf="isSolved">Solved in {{tries}} tries! Code was : {{code}}</h3>
    </div>
  </div>

  <app-row [cards]="Cards"></app-row>

</div>



